<fs-examples [config]="config">
  <fs-example name="Headings" componentName="headings">
    <headings></headings>
  </fs-example>

  <fs-example name="Typography" componentName="typography">
    <typography></typography>
  </fs-example>

  <fs-example name="Material Form Field" componentName="form-field">
    <form-field></form-field>
  </fs-example>

  <fs-example name="Field Helpers" componentName="helpers">
    <helpers></helpers>
  </fs-example>

  <fs-example name="Row Helpers" componentName="row">
    <app-row></app-row>
  </fs-example>

  <fs-example name="Column Helpers" componentName="column">
    <app-column></app-column>
  </fs-example>

  <fs-example name="Generic Helpers" componentName="generic-helpers">
    <app-generic-helpers></app-generic-helpers>
  </fs-example>
</fs-examples>
