<fs-examples [config]="config">
  <fs-example
      name="Tokens"
      componentName="tokens">
    <app-tokens></app-tokens>
  </fs-example>
  <fs-example
      name="Breakpoints"
      componentName="breakpoints">
    <app-breakpoints></app-breakpoints>
  </fs-example>
  <fs-example
      name="Headings"
      componentName="headings">
    <headings></headings>
  </fs-example>
  <fs-example
      name="Typography"
      componentName="typography">
    <typography></typography>
  </fs-example>
  <fs-example
      name="Row"
      componentName="row">
    <app-row></app-row>
  </fs-example>
  <fs-example
      name="Column"
      componentName="column">
    <app-column></app-column>
  </fs-example>
  <fs-example
      name="Gap"
      componentName="gap">
    <app-gap></app-gap>
  </fs-example>
  <fs-example
      name="Responsive"
      componentName="responsive">
    <app-responsive></app-responsive>
  </fs-example>
  <fs-example
      name="Delimit"
      componentName="delimit">
    <app-delimit></app-delimit>
  </fs-example>
  <fs-example
      name="Helpers"
      componentName="helpers">
    <helpers></helpers>
  </fs-example>
  <fs-example
      name="Material Form Field"
      componentName="form-field">
    <form-field></form-field>
  </fs-example>
  <fs-example
      name="Material Buttons"
      componentName="buttons">
    <app-buttons></app-buttons>
  </fs-example>
</fs-examples>
