@use 'functions';

@mixin form-field {
  mat-form-field {
    .mat-mdc-form-field-bottom-align::before {
      display: none;
    }

    .mat-mdc-form-field-hint-wrapper {
      position: relative;
      padding-top: 3px;
      line-height: normal;
      min-height: 22px;
    }

    &:not(.mat-form-field-invalid) {
      .mat-mdc-form-field-hint-wrapper {
        .mat-mdc-form-field-hint {
          padding-bottom: 22px;
        }
      }
    }

    &.form-field-padless-bottom, 
    &.form-field-padless {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .form-field-grow {
    .mat-form-field-infix {
      width: fit-content;

      .mat-select-value {
        max-width: 100%;
        width: auto;
      }
    }
  }

  .form-field-lineless:not(.mat-focused) {
    .mdc-text-field--outlined .mat-mdc-notch-piece {
      border-color: transparent;
    }

    input {
      text-overflow: ellipsis;
    }
  }
}
