@use 'functions';

@mixin form-field {
  mat-form-field {
    &.form-field-multiline-subscript {
      .mat-mdc-form-field-bottom-align::before {
        display: none;
      }

      .mat-mdc-form-field-hint-wrapper {
        position: relative;
        padding-top: 3px;
        min-height: 20px;
      }
    }

    &.form-field-padless-bottom, 
    &.form-field-padless {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .form-field-grow {
    .mat-form-field-infix {
      width: fit-content;

      .mat-select-value {
        max-width: 100%;
        width: auto;
      }
    }
  }

  .form-field-lineless:not(.mat-focused) {
    .mdc-text-field--outlined .mat-mdc-notch-piece {
      border-color: transparent;
    }

    input {
      text-overflow: ellipsis;
    }
  }
}
