@use '../variables';

@mixin helpers() {
  .full-width {
    width: 100% !important;

    &.mat-form-field {
      .mat-form-field-infix {
        width: auto;
      }
    }
  }

  .fs-row,
  [class*='fs-row'] {
    display: flex;
    flex-direction: row;
    align-items: center;

    &[class*='.gap-large'],    
    &.fs-row-gap-large {
      column-gap: 40px;
    }
    
    &[class*='.gap-small'],    
    &.fs-row-gap-small {
      column-gap: 10px;
    }

    &[class*='.gap-tiny'],    
    &.fs-row-gap-tiny {
      column-gap: 5px;
    }

    &[class*='.align-start'],
    &.fs-row-align-start {
      align-items: flex-start;
    }

    &[class*='.align-end'],
    &.fs-row-align-end {
      align-items: flex-end;
    }

    &[class*='.align-baseline'],
    &.fs-row-align-baseline {
      align-items: baseline;
    }
    
    &[class*='.wrap'],
    .fs-row-wrap {
      flex-wrap: wrap;
    }

    &[class*='.form-field'],
    .fs-row-form-field {
      column-gap: 10px;

      .mat-form-field-infix {
        width: auto;
      }

      >* {
        width: 100%;
      }
    }

    .fs-column {
      flex-direction: column;
    }
  }

  @media (max-width: variables.$break-xsmall) {
    .fs-row[class*='.form-field'] {
      flex-direction: column;
    }
  }
}

.fs-delimit {
  > *:not(:last-child):after {
    content: ',\00a0';
  }
}