@use '../variables';

@mixin helpers() {
  .full-width {
    width: 100% !important;

    &.mat-form-field {
      .mat-form-field-infix {
        width: auto;
      }
    }
  }

  .fs-row,
  .fs-row-form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;

    &.fs-row-gap-small {
      column-gap: 10px;
    }

    &.fs-row-gap-tiny {
      column-gap: 5px;
    }
    
    &:not(.form-field):not(.fs-row-form-field) {
      flex-wrap: wrap;
    }

    &.form-field,
    &.fs-row-form-field {
      column-gap: 10px;
    }

    &.fs-row-form-field,
    &.form-field {
      .mat-form-field-infix {
        width: auto;
      }

      >* {
        width: 100%;
      }
    }
  }

  @media (max-width: variables.$break-xsmall) {
    .fs-row.form-field,
    .fs-row-form-field {
      flex-direction: column;
    }
  }
}
