@use '../variables';

@mixin layout() {
  .fs-row,
  [class*='fs-row'] {
    display: flex;
    align-items: center;

    @include attributeMixin('class');
  }

  .fs-column,
  [class*='fs-column'] {
    display: flex;
    flex-direction: column;
    align-items: unset;

    @include attributeMixin('class', false);
  }

  .fs-flex {
    flex: 1;
  }

  /**
   * Greater than breakpoints
   */
  @media (min-width: #{variables.$break-xsmall + 1px}) {
    [fs\.gt-xs*='fs-row'] {
      @include attributeMixin('fs\\.gt-xs');
    }

    [fs\.gt-xs*='fs-column'] {
      @include attributeMixin('fs\\.gt-xs', false);
    }
  }

  @media (min-width: #{variables.$break-small + 1px}) {
    [fs\.gt-sm*='fs-row'] {
      @include attributeMixin('fs\\.gt-sm');
    }

    [fs\.gt-sm*='fs-column'] {
      @include attributeMixin('fs\\.gt-sm', false);
    }
  }

  @media (min-width: #{variables.$break-medium + 1px}) {
    [fs\.gt-md*='fs-row'] {
      @include attributeMixin('fs\\.gt-md');
    }

    [fs\.gt-md*='fs-column'] {
      @include attributeMixin('fs\\.gt-md', false);
    }
  }

  @media (min-width: #{variables.$break-large + 1px}) {
    [fs\.gt-lg*='fs-row'] {
      & {
        flex-direction: row;
      }

      @include attributeMixin('fs\\.gt-lg');
    }

    [fs\.gt-lg*='fs-column'] {
      @include attributeMixin('fs\\.gt-lg', false);
    }
  }

  /**
   * Less than breakpoints
   */
  @media (max-width: variables.$break-xsmall) {
    [fs\.lt-xs*='fs-row'] {
      @include attributeMixin('fs\\.lt-xs');
    }

    [fs\.lt-xs*='fs-column'] {
      @include attributeMixin('fs\\.lt-xs', false);
    }
  }

  @media (max-width: variables.$break-small) {
    [fs\.lt-sm*='fs-row'] {
      @include attributeMixin('fs\\.lt-sm');
    }  

    [fs\.lt-sm*='fs-column'] {
      @include attributeMixin('fs\\.lt-sm', false);
    }  
  }
  
  @media (max-width: variables.$break-medium) {
    [fs\.lt-md*='fs-row'] {
      @include attributeMixin('fs\\.lt-md');
    }

    [fs\.lt-md*='fs-column'] {
      @include attributeMixin('fs\\.lt-md', false);
    }     
  }
  
  @media (max-width: variables.$break-large) {
    [fs\.lt-lg*='fs-row'] {
      @include attributeMixin('fs\\.lt-lg');
    } 

    [fs\.lt-lg*='fs-column'] {
      @include attributeMixin('fs\\.lt-lg', false);
    } 
  }
}

@mixin attributeMixin($attributeName, $row: true) { 
  & {
    @if($row) {
      flex-direction: row;
    } @else {
      flex-direction: column;
    }

    &[#{$attributeName}*='.gap-lg'],
    &[#{$attributeName}*='.gap-large'] {
      row-gap: 40px;
      column-gap: 40px;
    }
    
    &[#{$attributeName}*='.gap-md'] {
      row-gap: 20px;
      column-gap: 20px;
    }
          
    &[#{$attributeName}*='.gap-sm'],
    &[#{$attributeName}*='.gap-small'] {
      row-gap: 10px;
      column-gap: 10px;
    }

    &[#{$attributeName}*='.gap-xs'],    
    &[#{$attributeName}*='.gap-tiny'] {
      row-gap: 5px;
      column-gap: 5px;
    }
    
    &[#{$attributeName}*='.gap-none'] {
      row-gap: 0px;
      column-gap: 0px;
    }

    &[#{$attributeName}*='.row-gap-none'] {
      row-gap: 0px;
    }

    &[#{$attributeName}*='.row-gap-xs'] {
      row-gap: 5px;
    }

    &[#{$attributeName}*='.row-gap-sm'] {
      row-gap: 10px;
    }

    &[#{$attributeName}*='.row-gap-md'] {
      row-gap: 20px;
    }

    &[#{$attributeName}*='.row-gap-lg'] {
      row-gap: 40px;
    }

    &[#{$attributeName}*='.align-start'] {
      align-items: flex-start;
    }

    &[#{$attributeName}*='.align-end'] {
      align-items: flex-end;
    }

    &[#{$attributeName}*='.align-baseline'] {
      align-items: baseline;
    }

    &[#{$attributeName}*='.align-center'] {
      align-items: center;
    }

    &[#{$attributeName}*='.align-normal'] {
      align-items: normal;
    }

    &[#{$attributeName}*='.justify-start'] {
      justify-content: flex-start;
    }

    &[#{$attributeName}*='.justify-center'] {
      justify-content: center;
    }

    &[#{$attributeName}*='.justify-end'] {
      justify-content: flex-end;
    }

    &[#{$attributeName}*='.justify-around'] {
      justify-content: space-around;
    }

    &[#{$attributeName}*='.justify-between'] {
      justify-content: space-between;
    }

    &[#{$attributeName}*='.justify-evenly'] {
      justify-content: space-evenly;
    }
    
    &[#{$attributeName}*='.wrap'] {
      flex-wrap: wrap;
    }
  }
}
