@use '../variables';

@mixin typography() {
  .small, small {
    color: variables.$small-color;
    font-size: variables.$small-font-size;
  }

  body {
    color: variables.$body-color;
  }

  .error {
    color: variables.$error-color;
  }
}
