@mixin material() {
  :root {
    --mat-sidenav-container-shape: 16px;
    --mdc-protected-button-container-shape: 999px;
    --mdc-text-button-container-shape: 999px;
    --mat-text-button-horizontal-padding: 10px;
    --mat-protected-button-horizontal-padding: 24px;
    --mdc-protected-button-container-height: 40px;
    --mdc-elevated-card-container-shape: 12px;
    --mdc-outlined-text-field-outline-color: rgb(127 127 127 / 38%);
  }

  .mat-mdc-form-field.mat-form-field-appearance-outline {
    margin-top: 5px;
  }
}
