@mixin material() {
  :root {

    --mdc-dialog-supporting-text-color: --mat-app-on-background;
    --mat-dialog-actions-padding: 16px 24px;
    --mat-dialog-with-actions-content-padding: 24px 24px 0;

    --mdc-elevated-card-container-shape: 12px;
    --mdc-outlined-text-field-outline-color: rgb(127 127 127 / 38%);

    --mat-text-button-touch-target-display: none;
    --mdc-text-button-container-shape: 999px;
    --mat-text-button-horizontal-padding: 10px;
    --mdc-text-button-container-height: 40px;

    --mat-protected-button-touch-target-display: none;
    --mdc-protected-button-container-shape: 999px;
    --mat-protected-button-horizontal-padding: 24px;
    --mdc-protected-button-container-height: 40px;

    --mat-outlined-button-touch-target-display: none;
    --mdc-outlined-button-container-shape: 999px;
    --mat-outlined-button-horizontal-padding: 24px;
    --mdc-outlined-button-container-height: 40px;

    --mat-filled-button-touch-target-display: none;
    --mdc-filled-button-container-shape: 999px;
    --mat-filled-button-horizontal-padding: 24px;
    --mdc-filled-button-container-height: 40px;

    .mat-mdc-slide-toggle {
      --mat-switch-with-icon-handle-size: 20px;
      --mdc-switch-handle-shape: 9999px;
      --mdc-switch-track-shape: 9999px;
      --mdc-switch-track-height: 26px;
      --mdc-switch-track-width: 40px;
      --mdc-switch-handle-width: 40px;
      --mat-switch-selected-with-icon-handle-horizontal-margin: 0 17px;
      --mat-switch-unselected-with-icon-handle-horizontal-margin: 0 3px;
      --mat-switch-unselected-pressed-handle-horizontal-margin: 0 3px;
      --mat-switch-selected-pressed-handle-horizontal-margin: 0 3px;
      --mdc-switch-selected-track-color: var(--brand-primary-color, #E0E2EC);
      --mdc-switch-unselected-track-color: #E0E2EC;
      --mdc-switch-selected-focus-track-color: #cdced6;
      --mdc-switch-unselected-focus-track-color: #cdced6;
      --mdc-switch-selected-pressed-track-color: #cdced6;
      --mat-switch-pressed-handle-size: 20px;
      --mdc-switch-selected-icon-color: var(--brand-primary-color, #202020);
      --mdc-switch-selected-hover-track-color: var(--brand-primary-color, #E0E2EC);
      --mdc-switch-selected-focus-track-color: var(--brand-primary-color, #E0E2EC);
      --mdc-switch-unselected-hover-track-color: #E0E2EC;
    }
  }

  .mat-mdc-form-field {
    &.mat-form-field-appearance-outline {
      margin-top: 5px;
    }
  }
}