
  <h3>Responsive <= X-Small</h3>
  <div class="fs-row.gap-lg" fs.lt-xs="fs-column.gap-none">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>

  <h3>Responsive <= Small</h3>
  <div class="fs-row.gap-lg" fs.lt-sm="fs-column.gap-none">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>

  <h3>Responsive <= Medium</h3>
  <div class="fs-row.gap-lg" fs.lt-md="fs-column.gap-none">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>
  

  <h3>Responsive > X-Small</h3>
  <div class="fs-column" fs.gt-xs="fs-row.gap-large">
    <fs-label-field>
      <fs-label>Column1</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>

  <h3>Responsive > Small</h3>
  <div class="fs-column" fs.gt-sm="fs-row.gap-large">
    <fs-label-field>
      <fs-label>Column1</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>

  <h3>Responsive > Medium</h3>
  <div class="fs-column" fs.gt-md="fs-row.gap-large">
    <fs-label-field>
      <fs-label>Column1</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>

  <h3>Responsive > Large</h3>
  <div class="fs-column" fs.gt-lg="fs-row.gap-large">
    <fs-label-field>
      <fs-label>Column1</fs-label>
      100
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100
    </fs-label-field>
  </div>
  