$heading-color: null !default;
$subheading-color: null !default;

@if $heading-color == null {
  $heading-color: #383838;
}

@if $subheading-color == null {
  $subheading-color: #676767;
}

@mixin form-field-multiline-subscript {
  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
      position: initial;
      display: block;
      margin-top: -1px;
    }

    .mat-form-field-subscript-wrapper,
    .mat-form-field-ripple {
      position: initial;
      display: table;

      mat-hint {
        margin-bottom: 1em;
      }
    }
    .mat-form-field-subscript-wrapper {
      min-height: calc(1em + 1px);
    }
  }
}

//Helpers

.full-width {
  width: 100% !important;

  &.mat-form-field {
    .mat-form-field-infix {
      width: auto;
    }
  }
}

// Typography
.small,
small {
  color: #6f6f6f;
  font-size: 85%;
}

.large,
large {
  font-size: 115%;
}

.error {
  color: #b3190f;
}

// Material Form Field
.form-field-multiline-subscript {
  @include form-field-multiline-subscript;
}

.form-field-padless {
  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-subscript-wrapper {
      position: absolute !important;
    }
  }

  .mat-form-field-underline {
    bottom: 0;
  }
}

.form-field-padless-top {
  .mat-form-field-infix {
    border-top: 0;
  }
}

.form-field-padless-bottom {
  .mat-form-field-underline {
    bottom: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-subscript-wrapper {
      position: absolute !important;
    }
  }
}

.form-field-grow {
  .mat-form-field-infix {
    width: fit-content;

    .mat-select-value {
      max-width: 100%;
      width: auto;
    }
  }
}


.form-field-lineless:not(.mat-focused) {
  .mat-form-field-underline {
    background-color: transparent;
  }

  input {
    text-overflow: ellipsis;
  }
}

// Headings

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: $heading-color;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  font-style: normal;
  font-size: 18px;
  color: $heading-color;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: normal;
}

h3 {
  font-style: normal;
  font-size: 16px;
  color: $heading-color;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: normal;
}

h1 + .subheading,
.subheading-1 {
  font-size: 85%;
}

.subheading-2,
h2 + .subheading {
  font-size: 85%;
}

.subheading-3,
h3 + .subheading {
  font-size: 85%;
}

.subheading-1,
.subheading-2,
.subheading-3,
h1 + .subheading,
h2 + .subheading,
h3 + .subheading {
  font-style: normal;
  font-weight: normal;
  color: $subheading-color;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px 0;

  &:not(.subheading-1):not(.subheading-2):not(.subheading-3) {
    margin-top: -5px;
  }

  .material-icons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.h1-container,
.h2-container {
  // Sometimes mat-card or mat-card-content margin-top: 0; overwrite this margin. Using important to prevent conflicts
  margin-top: -20px !important;

  // h2-heading will take care of the top 20px for h2 at the top of pages
  .fs-list-container.has-heading {
    margin-top: 20px;
  }
}


.overflow-shadow {
  position: relative;
  z-index: 1;
  transform: perspective(1px);
  background: #FFF no-repeat;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(213, 213, 213, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.1068802521) 0%, rgba(213, 213, 213, 0) 100%);
  background-position: 0 0, 0 100%;
  background-size: 100% 5px;

  &:before,
  &:after {
    content: "";
    position: relative;
    z-index: -1;
    display: block;
    height: 10px;
    background: linear-gradient(to bottom, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
  }

  &:after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #FFF), to(#FFF));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
  }

  .overflow-shadow-content {
    margin-top: -10px;
  }
}



@mixin fs-style($theme) {
  $primary: mat-palette($theme);
  $primary-color: mat-color($primary);
  $primary-color-semi-transparent: rgba($primary-color,.3);

  .form-field-lineless:not(.mat-focused) {
    &:hover {
      .mat-form-field-underline {
        border-top: 1px dashed $primary-color-semi-transparent;
      }
    }
  }
}
