@use '../src/variables' with (
  $small-font-size: .6875rem,
  $h1-margin-top: 0px,
  $h2-margin-top: 0px,
  $h3-margin-top: 0px
);

@use '../src/styles' as fs-style;
@use "@firestitch/component-tools/assets/playground.scss";
@use "@firestitch/message/styles";
@use "@firestitch/drawer/styles" as fs-drawer;

@include fs-style.core();
@include fs-drawer.fs-drawer(playground.$primary-palette);
