<div fxLayout="column" fxLayoutGap="20px">

  <h3>100% Full width Form Field </h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="100% Full Width">
  </mat-form-field>

  <h3>Multi Column Form Field</h3>

  <div class="fs-row-form-field">
    <mat-form-field>
      <input matInput placeholder="Multi column Form Field">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Multi column Form Field">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Multi column Form Field">
    </mat-form-field>
  </div>

  <h3>Multi Column Blocks</h3>

  <div class="fs-row">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100$
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100%
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column3</fs-label>
      None
    </fs-label-field>
  </div>

  <div>
    <fs-label>Overflow Shadow</fs-label>
    <div class="overflow-shadow">
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
    </div>
  </div>

</div>

