<div fxLayout="column" fxLayoutGap="20px">

  <h3>100% Full width Form Field </h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="100% Full Width">
  </mat-form-field>

  <h3>Multi Column Form Field</h3>

  <div class="fs-row-form-field">
    <mat-form-field>
      <input matInput placeholder="Multi column Form Field">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Multi column Form Field">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Multi column Form Field">
    </mat-form-field>
  </div>

  <h3>Multi Column Blocks (Large Gap)</h3>

  <div class="fs-row fs-row-gap-large">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100$
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100%
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column3</fs-label>
      None
    </fs-label-field>
  </div>

  
  <h3>Multi Column Blocks (Small Gap)</h3>

  <div class="fs-row fs-row-gap-small">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100$
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100%
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column3</fs-label>
      None
    </fs-label-field>
  </div>

  
  <h3>Multi Column Blocks (Tiny Gap)</h3>

  <div class="fs-row fs-row-gap-tiny">
    <fs-label-field>
      <fs-label>Column</fs-label>
      100$
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      100%
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column3</fs-label>
      None
    </fs-label-field>
  </div>


  
  <h3>Multi Column Blocks (Wrap)</h3>

  <div class="fs-row fs-row-gap-large fs-row-wrap">
    <fs-label-field>
      <fs-label>Column</fs-label>
      1
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column2</fs-label>
      2
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column3</fs-label>
      3
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column4</fs-label>
      4
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column5</fs-label>
      5
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column6</fs-label>
      6
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column7</fs-label>
      7
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column8</fs-label>
      8
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column9</fs-label>
      9
    </fs-label-field>

    <fs-label-field>
      <fs-label>Column10</fs-label>
      10
    </fs-label-field>
  </div>


  <div>
    <fs-label>Overflow Shadow</fs-label>
    <div class="overflow-shadow">
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
      <br>
      Pellentesque maximus magna id gravida posuere. Fusce odio nulla, porta ut feugiat ut, posuere non eros. Mauris purus nunc, gravida sed ipsum quis, tincidunt rutrum mauris. In a nisl scelerisque, iaculis felis cursus, dictum mi. Curabitur sagittis lorem vel euismod efficitur. Etiam aliquet magna diam, at consectetur nisi pharetra sit amet. Nunc hendrerit sapien orci, in pretium elit efficitur vitae. Sed eros enim, varius euismod scelerisque faucibus, hendrerit a lacus.
    </div>
  </div>

</div>

